In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

In [3]:
data = pd.read_csv('1.02. Multiple linear regression.csv')
data.head()

    SAT   GPA  Rand 1,2,3
0  1714  2.40           1
1  1664  2.52           3
2  1760  2.54           3
3  1685  2.74           3
4  1693  2.83           2

In [4]:
data.describe()

               SAT        GPA  Rand 1,2,3
count    84.000000  84.000000   84.000000
mean   1845.273810   3.330238    2.059524
std     104.530661   0.271617    0.855192
min    1634.000000   2.400000    1.000000
25%    1772.000000   3.190000    1.000000
50%    1846.000000   3.380000    2.000000
75%    1934.000000   3.502500    3.000000
max    2050.000000   3.810000    3.000000

In [9]:
x=data[['SAT','Rand 1,2,3']]
y=data['GPA']

In [10]:
reg=LinearRegression()

In [11]:
reg.fit(x,y) #sklearn multpile linear regression için optimizedir. o yüzden hata almaz, zaten array geliyor çünkü.

LinearRegression()

In [12]:
reg.coef_

array([ 0.00165354, -0.00826982])

In [13]:
reg.intercept_

0.29603261264909486

In [14]:
reg.score(x,y)

0.40668119528142843

### Formula for Adjusted R^2

$R^2_{adj.] = 1-(1-R^2)*\frac{n-1}{n-p-1}

In [15]:
#R^2(adj) = 1- (1-R^2)* (n-1)/(n-p-1)

In [16]:
x.shape

(84, 2)

In [19]:
r2 = reg.score(x,y)

n=x.shape[0]

p=x.shape[1]

adjusted_r2 = 1-(1-r2)*(n-1)/(n-p-1)
adjusted_r2

0.39203134825134023

# Feature Selection

gerekli olan featureları belirlemek için uygulanan adım. featureların p-valueları simple linear
regression ile bulunur
ve >0.05 olan alınmaz

In [20]:
from sklearn.feature_selection import f_regression

In [21]:
f_regression(x,y)

(array([56.04804786,  0.17558437]), array([7.19951844e-11, 6.76291372e-01]))

yukarda soldaki f-statistics, sağdaki p-values gösterir.

In [23]:
p_values = f_regression(x,y)[1]
p_values

array([7.19951844e-11, 6.76291372e-01])

In [24]:
p_values.round(3)

array([0.   , 0.676])

0.676 değeri Rand 1,2,3 gösterir, bu yüzden useless.

# Creating a summary table

In [27]:
reg_summary = pd.DataFrame(data=x.columns.values, columns = ['Features'])
reg_summary

     Features
0         SAT
1  Rand 1,2,3

In [30]:
reg_summary ['Coefficients'] = reg.coef_
reg_summary ['p-values'] = p_values.round(3)
reg_summary

     Features  Coefficients  p-values
0         SAT      0.001654     0.000
1  Rand 1,2,3     -0.008270     0.676